{% extends "layout.html" %}

{% block title %}
    Buscar Coches
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Buscar Coches</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Precio por Día</th>
                    <th>Disponibilidad</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.price_per_day }}</td>
                        <td>{{ 'Sí' if car.availability else 'No' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
