{% extends 'layout.html' %}

{% block title %}Buscar Vuelos - Reservas de Viajes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Buscar Vuelos</h2>
    <div class="text-right mb-3">
        <a href="{{ url_for('main.ingresar_vuelo') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Nuevo Vuelo</a>
    </div>
    <div class="table-responsive">
        <table id="flightsTable" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Salida</th>
                    <th>Llegada</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.departure_time|datetimeformat }}</td>
                    <td>{{ flight.arrival_time|datetimeformat }}</td>
                    <td>{{ flight.price }}</td>
                    <td>
                        <a href="{{ url_for('main.editar_vuelo', flight_id=flight._id) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> </a>
                        <form action="{{ url_for('main.eliminar_vuelo', flight_id=flight._id) }}" method="post" class="d-inline" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este vuelo?');">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- DataTables CSS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#flightsTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            },

        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function (alert) {
            setTimeout(function () {
                alert.style.display = 'none';
            }, 4000); // duracion de la alerta de 3s
        });
    });
</script>

